*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("eye.png");
    max-height: 100%;
}

.main {
    padding: 10px;
}

.row {
    padding: 10px;
}

.sidebar {
    height: 100%;
}

.sidebar .card-body {
    background-color: #87beda;
    border-radius: 5px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: whitesmoke;
}